<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
    <a href="/auth/kakao">카카오톡</a>
    <a href="/auth/facebook">페이스북</a>
    <a href="/auth/google">구글</a>
</body>
</html>